---
layout: default
---

<h1>Public4ci0nes en la cat3g0ría: {{ page.title }}</h1>
  {% for post in site.categories[page.title] %}
      <div class="blog-post">
          		<h3 class="glitch" data-text="{{ post.title }}">{{ post.title }}</h3>
            	<h4 class="glitch" style="display: inline;">OS: </h4>

            	<p class="post-meta" style="display: inline;" data-text="{{ post.os }}">{{ post.os }}</p>
            <br>

	           <h4 class="glitch" style="display: inline;">Dificultad: </h4>
    	       <p class="post-meta" style="display: inline;" data-text="{{ post.difficulty }}">{{ post.difficulty | strip_html }}</p>
            <br>

        	   <h4 class="glitch" style="display: inline;">Skills: </h4>
            	<code class="post-meta">{{ post.skills | truncatewords: 30 }}</code>

            <br>
            <br>
            	<a href="{{post.url }}" class="glitch-link">Read More</a>  

        </div>
    </li>
  {% endfor %}
</ul>
